<link rel='stylesheet' type='text/css' href='styles.css'>
<h1 id='abt-title'>ABOUT</h1>
<hr>
<br>
<p class='info'>Elemental is a new, redesigned periodic table for a sleeker, more functional web. It has flat, minimalist aesthetics, and is a great example of today's monochromatic design trends at their finest. By making this, we hope not only to educate today's younger generation about the building blocks of the universe, but also to present this invaluable data to people in an attractive, easy-to-digest way. </p>
<p class='info' id='creator'>Elemental was created by front-end designer and developer Colter Giem. You can find his portfolio <a  href='http://argentumsunrise.github.io/portfolio/'>here.</a>
</p>