<link rel='stylesheet' type='text/css' href='styles.css'>
<h1 id='abt-title'>ABOUT</h1>
<hr>
<br>
<p class='info'>Elemental is a new, redesigned periodic table for a sleeker, more functional web. It has flat, minimalist aesthetics, and is a great example of today's monochromatic design trends at their finest. By making this, we hope not only to educate today's younger generation about the building blocks of the universe, but also to present this invaluable data to people in an attractive, easy-to-digest way. </p>
<p class='info' id='creator'>Elemental was created by front-end designer and developer Colter Giem. You can find his portfolio <a href='http://argentumsunrise.github.io/portfolio/'>here.</a>
</p>
<br>
<br>
<h1 id='other-title'>SOME OTHER STUFF</h1>
<hr>
<p class='info'>Elemental's element attributes are based upon current scientific standards, as defined by the Internet. All melting/boiling point temperatures are from accepted standard measurements, and are rounded to three decimal places to make them easily digestible. All element descriptions and FAQs are original work. Elemental's backend is powered by <a href='http://firebase.com/'>Firebase.</a><br>Elemental is not liable for any and all injuries caused by stupid people handling/ingesting/performing questionable acts on dangerous materials as a result of information provided.<br>Copulating with an element is strongly discouraged.</p>
