<link rel='stylesheet' type='text/css' href='styles.css'>
<h1 id='title'>ELEMENTAL</h1>
<hr>
<h6 id='subtitle'>A newer periodic table for a newer web</h6>
<div id='table-container'>
    <div class='row' id='r1'>
        <div class='element' id='h'>H</div>
        <div class='noble element' id='he'>He</div>
    </div>

    <div class='row' id='r2'>
        <div class='alkali-m element' id='li'>Li</div>
        <div class='alkali-e element' id='be'>Be</div>
        <div class='noble element' id='ne'>Ne</div>
        <div class='halogen element' id='f'>F</div>
        <div class='nonmetal element' id='o'>O</div>
        <div class='nonmetal element' id='n'>N</div>
        <div class='nonmetal element' id='c'>C</div>
        <div class='semimetal element' id='b'>B</div>
    </div>

    <div class='row' id='r3'>
        <div class='alkali-m element' id='na'>Na</div>
        <div class='alkali-e element' id='mg'>Mg</div>
        <div class='noble element' id='ar'>Ar</div>
        <div class='halogen element' id='cl'>Cl</div>
        <div class='nonmetal element' id='s'>S</div>
        <div class='nonmetal element' id='p'>P</div>
        <div class='semimetal element' id='si'>Si</div>
        <div class='basic-m element' id='al'>Al</div>
    </div>

    <div class='row' id='r4'>
        <div class='alkali-m element' id='k'>K</div>
        <div class='alkali-e element' id='ca'>Ca</div>
        <div class='transition element' id='sc'>Sc</div>
        <div class='transition element' id='ti'>Ti</div>
        <div class='transition element' id='va'>Va</div>
        <div class='transition element' id='cr'>Cr</div>
        <div class='transition element' id='mn'>Mn</div>
        <div class='transition element' id='fe'>Fe</div>
        <div class='transition element' id='co'>Co</div>
        <div class='transition element' id='ni'>Ni</div>
        <div class='transition element' id='cu'>Cu</div>
        <div class='transition element' id='zn'>Zn</div>
        <div class='basic-m element' id='ga'>Ga</div>
        <div class='semimetal element' id='ge'>Ge</div>
        <div class='semimetal element' id='as'>As</div>
        <div class='nonmetal element' id='se'>Se</div>
        <div class='halogen element' id='br'>Br</div>
        <div class='noble element' id='kr'>Kr</div>
    </div>

    <div class='row' id='r5'>
        <div class='alkali-m element' id='rb'>Rb</div>
        <div class='alkali-e element' id='sr'>Sr</div>
        <div class='transition element' id='y'>Y</div>
        <div class='transition element' id='zr'>Zr</div>
        <div class='transition element' id='nb'>Nb</div>
        <div class='transition element' id='mo'>Mo</div>
        <div class='transition element' id='tc'>Tc</div>
        <div class='transition element' id='ru'>Ru</div>
        <div class='transition element' id='rh'>Rh</div>
        <div class='transition element' id='pd'>Pd</div>
        <div class='transition element' id='ag'>Ag</div>
        <div class='transition element' id='cd'>Cd</div>
        <div class='basic-m element' id='in'>In</div>
        <div class='basic-m element' id='sn'>Sn</div>
        <div class='semimetal element' id='sb'>Sb</div>
        <div class='semimetal element' id='te'>Te</div>
        <div class='halogen element' id='i'>I</div>
        <div class='noble element' id='xe'>Xe</div>
    </div>

    <div class='row' id='r6'>
        <div class='alkali-m element' id='cs'>Cs</div>
        <div class='alkali-e element' id='ba'>Ba</div>
        <div class='gap gap1'></div>
        <div class='transition element' id='hf'>Hf</div>
        <div class='transition element' id='ta'>Ta</div>
        <div class='transition element' id='w'>W</div>
        <div class='transition element' id='re'>Re</div>
        <div class='transition element' id='os'>Os</div>
        <div class='transition element' id='ir'>Ir</div>
        <div class='transition element' id='pt'>Pt</div>
        <div class='transition element' id='au'>Au</div>
        <div class='transition element' id='hg'>Hg</div>
        <div class='basic-m element' id='tl'>Tl</div>
        <div class='basic-m element' id='pb'>Pb</div>
        <div class='basic-m element' id='bi'>Bi</div>
        <div class='semimetal element' id='po'>Po</div>
        <div class='halogen element' id='at'>At</div>
        <div class='noble element' id='rn'>Rn</div>
    </div>

    <div class='row' id='r7'>
        <div class='alkali-m element' id='fr'>Fr</div>
        <div class='alkali-e element' id='ra'>Ra</div>
        <div class='gap gap1'></div>
        <div class='transition element' id='rf'>Rf</div>
        <div class='transition element' id='db'>Db</div>
        <div class='transition element' id='sg'>Sg</div>
        <div class='transition element' id='bh'>Bh</div>
        <div class='transition element' id='hs'>Hs</div>
        <div class='transition element' id='mt'>Mt</div>
        <div class='transition element' id='ds'>Ds</div>
        <div class='transition element' id='rg'>Rg</div>
        <div class='transition element' id='cn'>Cn</div>
        <div class='basic-m element' id='uut'>Uut</div>
        <div class='basic-m element' id='fl'>Fl</div>
        <div class='basic-m element' id='uup'>Uup</div>
        <div class='basic-m element' id='lv'>Lv</div>
        <div class='halogen element' id='uus'>Uus</div>
        <div class='noble element' id='uuo'>Uuo</div>
    </div>

    <div class='row'></div>

    <div class='row' id='r8'>
        <div class='gap gap2'></div>
        <div class='lanthanide element' id='la'>La</div>
        <div class='lanthanide element' id='ce'>Ce</div>
        <div class='lanthanide element' id='pr'>Pr</div>
        <div class='lanthanide element' id='nd'>Nd</div>
        <div class='lanthanide element' id='pm'>Pm</div>
        <div class='lanthanide element' id='sm'>Sm</div>
        <div class='lanthanide element' id='eu'>Eu</div>
        <div class='lanthanide element' id='gd'>Gd</div>
        <div class='lanthanide element' id='tb'>Tb</div>
        <div class='lanthanide element' id='dy'>Dy</div>
        <div class='lanthanide element' id='ho'>Ho</div>
        <div class='lanthanide element' id='er'>Er</div>
        <div class='lanthanide element' id='tm'>Tm</div>
        <div class='lanthanide element' id='yb'>Yb</div>
        <div class='lanthanide element' id='lu'>Lu</div>
    </div>

    <div class='row' id='r9'>
        <div class='gap gap2'></div>
        <div class='actinide element' id='ac'>Ac</div>
        <div class='actinide element' id='th'>Th</div>
        <div class='actinide element' id='pa'>Pa</div>
        <div class='actinide element' id='u'>U</div>
        <div class='actinide element' id='np'>Np</div>
        <div class='actinide element' id='pu'>Pu</div>
        <div class='actinide element' id='am'>Am</div>
        <div class='actinide element' id='cm'>Cm</div>
        <div class='actinide element' id='bk'>Bk</div>
        <div class='actinide element' id='cf'>Cf</div>
        <div class='actinide element' id='es'>Es</div>
        <div class='actinide element' id='fm'>Fm</div>
        <div class='actinide element' id='md'>Md</div>
        <div class='actinide element' id='no'>No</div>
        <div class='actinide element' id='lr'>Lr</div>
    </div>
    <div id='element-info'>
        <h1></h1>
        <hr id='hr-top'>
        <h6 id='num'></h6>
        <h6 id='weight'></h6>
        <h6 id='electrons'></h6>
        <h6 id='protons'></h6>
        <h6 id='neutrons'></h6>
        <h6 id='melt'></h6>
        <h6 id='iso'></h6>
        <h6 id='group'></h6>
        <p id='info'></p>
        <hr id='hr-bottom'>
        <h2>FAQs</h2>
        <p><i>Will I die if I touch it?</i> -- <span id='dying'></span>
        </p>
        <p><i>How can we use it?</i> -- <span id='uses'></span>
        </p>
        <p><i>What color is it?</i> -- <span id='color'></span>
        </p>
        <i class="fa fa-chevron-circle-up"></i>
    </div>
</div>